<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<!-- code for displaying a post -->
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<!-- code for displaying comments associated with the post -->
<h2>Comments</h2>
<div id="comments">
	<!-- Below code will render all the comments in reverse order. Most recent comments will be  on top -->
	<%= render :partial => @post.comments.reverse %>
</div>	

<!-- Form to create a new comment -->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p>
		<%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<!-- Links -->
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
